@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    background: #111113;
    background-image: radial-gradient( circle at top left, #ff6d3d 10%, #000000 30%);
}

.particles {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container {
    /* display: contents; */
    align-items: center;
    /* justify-content: center; */
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 35);
    position: relative;
    overflow: hidden;
    width: 90%;
    max-width: 100%;
    min-height: 80%;
    margin: 25%;
    /* margin-left: 500px; */
}

.wallpaper {
    display: block;
    margin: 5px auto;
    width: 90%;
    height: 30%;
    border-radius: 15px;
    /* margin-top: 25px; */
    background-color: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
}

.original-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: none%;
    /* Ensures no resizing */
    max-height: none;
    /* Ensures no resizing */
    width: auto;
    /* Keeps original width */
    height: auto;
    /* Keeps original height */
}

.profile-img {
    display: block;
    margin: 5px auto;
    width: 10%;
    height: 10%;
    border-radius: 50%;
    margin-top: -10%;
    z-index: 2;
    position: relative;
}

.container h2 {
    color: #000000;
    text-align: center;
    margin: 0 auto;
    font-size: 100%;
    display: block;
    z-index: 2;
    position: relative;
}

h1 {
    color: rgb(27, 27, 27);
}

.container h3 {
    color: #000000;
    /* width: 120px;
	opacity: 80%; */
	/* border-radius: 5px; */
    font-size: 100%;
    display: flex;
    margin: 10px;
	margin-top: 5%;
}

.container h5 {
    color: #ffffff;
    background-color: #6f6f6f;
    width: 100px;
	opacity: 80%;
    font-size: 90%;
    display: flex;
    margin-left: 50px;
}

/* analys */

.analyse{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
	margin-top: 5%;
}

.analyse > div{
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
}

.analyse > div:hover{
    box-shadow: none;
}

.analyse > div .status{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.analyse h3{
    margin-left: 0.6rem;
    font-size: 1rem;
}

.analyse .progresss{
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

.analyse svg{
    width: 7rem;
    height: 7rem;
}

.analyse svg circle{
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

.analyse .sales svg circle{
    stroke: var(--color-success);
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

.analyse .visits svg circle{
    stroke: var(--color-danger);
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

.analyse .searches svg circle{
    stroke: var(--color-primary);
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

.analyse .progresss .percentage{
    position: absolute;
    top: -3px;
    left: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
