body {
	display: flex;
	flex-direction: column;
	/* align-items: center; Center horizontally */
	/* justify-content: center; Center vertically */
	height: 100vh;
	overflow: hidden;
	font-family: 'Montserrat', sans-serif;
	background: #111113;
	background-image: radial-gradient(
		circle at top left,
		#ff6d3d 10%,
		#000000 30%
	);
  }

.particles {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

h1{
	color: aliceblue;
}